<script>
function convertToJSON(){
  $("#json").html("");
  modl = $("#modl").val();
  
  deep_referencing_conditional_catch= /{\n?\s*`?%?[a-zA-z_][a-zA-z0-9_]*(\.|>)[a-zA-z0-9_]*/.test(modl);
  deep_referencing_use_catch= /\n?\s*`?%[a-zA-z_][a-zA-z0-9_]*(\.|>)[a-zA-z0-9_]*/.test(modl);
  if(deep_referencing_conditional_catch || deep_referencing_use_catch){
    deep_referencing_catch = true;
  }
  else{
    deep_referencing_catch = false;
  }
  if(modl==""){
    return displayError({"responseText":"MODL string was empty"});
  }
  else{
    modlData = { modl: modl }
    $.ajax({
      type: "POST",
      url: "https://api.modl.uk",
      data: modlData,
      success: function(data){
        displayJson(data);
      },
      error: function(error){
        displayError(error);
      }
    });
  }
}
function displayJson(jsonResponse){
  jsonResponse = JSON.stringify(jsonResponse, null, 4);
  $("#json").html(jsonResponse);
  if(deep_referencing_catch){
    $("#status").html("Note: In this tool, deep referencing uses the <code>></code> character instead of the <code>.</code> character. We're in the process of updating it, sorry for any confusion.");
  }
  else{
    $("#status").html("Valid MODL");
  }
  $("#status").removeClass("error");
  $("#status").addClass("success");
}
function displayError(jsonError){
  jsonErrorMessage = jsonError.responseText;
  if(jsonErrorMessage=="\n"){
    jsonErrorMessage = "JSON response was blank."
  }
  if(deep_referencing_catch){
    $("#status").html("Note: In this tool, deep referencing uses the <code>></code> character instead of the <code>.</code> character. We're in the process of updating it, sorry for any confusion.<br>Error: "+jsonErrorMessage);
  }
  else{
    $("#status").html(jsonErrorMessage);
  }
  $("#status").removeClass("success");
  $("#status").addClass("error");
}
</script>
<div>
  <p style="margin-bottom:0px;">
    <textarea name="modl" id="modl"><%=params[:modl]%></textarea>
  </p>
  <div style="padding-top:5px;"><input type="button" value="Convert to JSON" style="float:right;" onclick="convertToJSON();"></div>
</div>
<div style="margin-top:10px;">
  <h3>JSON output</h3>
  <div id="status"><%=@default_text%></div>
  <div>  
    <pre id="json">&nbsp;</pre>
  </div>
</div>
<%
if !params[:modl].nil?
%>
  <script>convertToJSON()</script>
<%
end
%>