<%
start_year = 2018
end_year = Time.now.year

if start_year == end_year
  time_string = start_year
else
  time_string = start_year.to_s + " - " + end_year.to_s
end
%>
<div id="footer">
  <div id="copyright" class="footer-one-line">
    <span style="white-space: nowrap;">&copy; NUM Technology Ltd <%= time_string %>.</span> 
    <span style="white-space: nowrap;">All rights reserved.</span> 
    <span style="white-space: nowrap;"><a href="http://www.num.uk/about<%=$token_link_addition%>" target="_blank">About us</a> <%=link_icon("external")%>.</span>
  </div>  
</div>
<%
if @mini_playground
%>
<script src="/javascripts/playground-footer.js"></script>
<%
end
%>