<div id="header">
  <div class="m nav sticky">
    <img src="/images/logo.png" class="logo" alt="MODL logo">
    <div class="name-and-menu">
      <span class="name">MODL</span>
      <div class="menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div id="navholder" class="m" style="display:none;">
        <%=erb(:navigation)%>
      </div>
    </div>
  </div>
  <div class="nm nav">
    <!--<div class="logo-header">
        <div class="logo-wrapper">
          <a href="/">
            <img src="/images/logo.png" class="logo" alt="MODL logo">
          </a>
        </div>
    </div>-->
    <div id="nm-navbar" class="nm">
      <div class="navigation-links">
        <div id="left-placeholder" style="float:left;width:40px;height:30px;">
          <a href="/">
            <img id="navbar-logo" src="/images/logo-reversed.png" class="logo" style="float:left;margin-left:25px;" alt="MODL logo">
          </a>
        </div>
        <%=erb(:navigation)%>
        <div style="margin-top:-25px;margin-right:20px;">
          <div class="dot"><img src="/images/num-logo.png" style="width:15px;height:15px;margin-top:5px;margin-right:5px;"></div>
        </div>        
      </div>
        <style>
      .dot {
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
      }
      </style>
    </div>
    <!--<div id="nm-navbar-holding">
      &nbsp;
    </div>-->
  </div>
  <div class="print print-name">
    MODL
  </div>
</div>