<%
if params[:version] == "ruby" then
  @version = "ruby"
  @modl_process_url = "/playground-process"
else
  @version = "java"
  @modl_process_url = "https://interpreter.modl.uk/mtoj/"
end
%>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MODL</title>
    <meta name="description" content="Minimal Object Description Language (MODL)">
    <meta name="author" content="Elliott Brown, NUM Technology Ltd">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/images/favico/site.webmanifest">
    <link rel="mask-icon" href="/images/favico/safari-pinned-tab.svg" color="#c30000">
    <link rel="shortcut icon" href="/images/favico/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="MODL">
    <meta name="application-name" content="MODL">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/images/favico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <%if @page_style then %><link rel="stylesheet" href="/css/<%=@page_name%>.css"><%end%>
    <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.js"></script>
    <![endif]-->
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <style>
    body{
      margin-top:0px;
      background-color: #fff;
    }
    #modl{
      width:100%;
      height:120px;
    }
    #json{
      width:100%;
      height:165px;
    }
    </style>
  </head>
  <body>
    <div id="content-holder" style="margin-bottom:14px;">
      <div id="content">
        <%= erb :_playground %>
      </div>
    </div>
  </body>
</html>