<%
@default_modl_text = "Click 'Convert to JSON' when your MODL string is complete."
@default_json_text = "Click 'Convert to MODL' when your JSON string is complete."
@default_modl_button_text = "Convert to MODL"
@default_json_button_text = "Convert to JSON"
%>
<script>
$(document).delegate('.language-input', 'keydown', function(e) {
  $("#status").html("<%=@default_text%>");
  $("#status").removeClass("success error");
  var keyCode = e.keyCode || e.which;
  tabsOrSpaces = $("#tabsOrSpaces").val();
  tabsOrSpacesArray = tabsOrSpaces.split("-");
  useChar = tabsOrSpacesArray[0];
  charRepeat = Number(tabsOrSpacesArray[1]);

  if(useChar=="tab"){
    indentChar = "\t";
  }
  else{
    indentChar = " ";
  }

  if (keyCode == 9) {
    e.preventDefault();
    var start = this.selectionStart;
    var end = this.selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    $(this).val($(this).val().substring(0, start)
                + indentChar.repeat(charRepeat)
                + $(this).val().substring(end));

    // put caret at right position again
    this.selectionStart =
    this.selectionEnd = start + charRepeat;
  }
});

function objectSwitch(language){
  if(language=='json'){
    $("#language-modl").removeClass("selected-language");
    $("#language-json").addClass("selected-language");
    $("#json-status").show();
    $("#modl-status").hide();
    $("#json-input").show();
    $("#modl-input").hide();
  }
  else{
    $("#language-json").removeClass("selected-language");
    $("#language-modl").addClass("selected-language");
    $("#json-status").hide();
    $("#modl-status").show();
    $("#json-input").hide();
    $("#modl-input").show();
  }
}
</script>  
<h1>MODL Playground</h1>
  <p>
    You can enter a MODL object and convert it to JSON, or enter a JSON object and convert it to MODL.
  </p>
  <h3>Enter your object</h3>
  <style>
  #modl{
    width:100%;
    height:300px;
  }
  #json{
    width:100%;
    height:300px;
  }
  #converted-object{
    height:500px;
  }
  #language-choices{
    list-style-type: none;
    margin: 0;
    margin-top:10px;
    padding: 0;
    width:300px;
    float:left;
  }
  #language-choices li{
    width:75px;
    height:35px;
    float:left;
    padding:5px;
    background-color:#F0F0F0;
    border:1px solid #F4DCDC;
    text-align:center;
    margin-left:5px;
    cursor: pointer;
  }
  .selected-language{
    background-color:#F4DCDC !important;
  }
  #tab-space{
    float:right;
    height:25px;
    padding:5px;
    margin-top:5px;
  }
  </style>
  <ul id="language-choices">
    <li id="language-modl" class="selected-language" onclick="objectSwitch('modl')">MODL</li>
    <li id="language-json" onclick="objectSwitch('json')">JSON</li>
  </ul>
  <div class="nm" id="tab-space">
    Tab key = 
    <select id="tabsOrSpaces">
      <option value="space-1">1 space</option>
      <option value="space-2" selected>2 spaces</option>
      <option value="space-4">4 spaces</option>
      <option value="space-8">8 spaces</option>
      <option value="tab-1">1 tab</option>
      <option value="tab-2">2 tabs</option>
    </select>
  </div>  
  <%= erb :_playground %>