$off-white-colour: #FFFEFE;
$light-colour: #F4DCDC;
$dark-colour: #b40000;
$bright-colour: #FD0606;
$page-bg-colour: #F0F0F0;
$header-bg-colour: #FFF;
$header-text-colour: #FFF;
$content-sides-colour: #FFF;
$highlight-colour: #FFFFB7;
$syntax-highlight-colour: #FD0606;
$note-text-colour: #7C6161;
$warning-colour: #fbefd5;
$table-header-colour: #fca5ab;
$border-colour: #fffef5;
$success-dark: #35931d;
$success-bright: #43db1c;