@import 'vars';

.comparison {
  background-color: $off-white-colour;
  border: 1px solid $light-colour;
  font-family: 'Courier New';
  padding: 4px;
  font-size: 15px;
  height: 100%;
  .count {
    text-align: right;
  }
  .header {
    text-align: center;
    font-weight: bold;
    background-color: $light-colour;
    padding: 0px;
  }
  .shortest {
    background-color: #c4ffc4;
  }
}

//mobile 
.first {margin: 4px 0px 0px 0px;}
.second {margin: 4px 0px 0px 0px;}
.third {margin: 4px 0px 0px 0px;}
#desktop-header{display:none;}
#desktop-intro {display:none;}

// tablet and desktop
@media only screen and (min-width: 600px) {
  .first{margin: 0px 4px 0px 0px;}
  .second {margin: 0px 2px 0px 2px;}
  .third {margin: 0px 0px 0px 4px;}
  #mobile-intro {display:none;}
  #mobile-header {display:none;}
  #desktop-header {display:block;}
  #desktop-intro {display:block;}
}

@media print {
  .first{margin: 0px 4px 0px 0px;}
  .second {margin: 0px 2px 0px 2px;}
  .third {margin: 0px 0px 0px 4px;}
  #mobile-intro {display:none;}
  #mobile-header {display:none;}
  #desktop-header {display:block;}
  #desktop-intro {display:block;}
}